<mat-toolbar class="header-toolbar">
  <span class="fill-remaining-space"></span>
  <span style="color:blue"><b>Ehtereum</b><small>blockchaintutorial.com</small></span>
</mat-toolbar>
<mat-sidenav-container>
  <mat-sidenav #mainSideNav mode="side" closed>
    <mat-nav-list *ngFor="let tab of ethereumTopicTabs" routerLinkActive="active-tab" [routerLinkActiveOptions]="{exact:true}">
      <a mat-list-item mat-ripple routerLink="{{tab.path}}" data-toggle="tab">{{tab.name}}</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-toolbar color="primary">
    <button mat-icon-button (click)="mainSideNav.toggle()">
                <mat-icon *ngIf="mainSideNav.opened">chevron_left</mat-icon>
                <mat-icon *ngIf="!mainSideNav.opened">menu</mat-icon>
            </button>
  </mat-toolbar>
  <router-outlet></router-outlet>
</mat-sidenav-container>