<div class="content">
  <br/>
  <app-navigation [previous]="previousRoute" [next]="nextRoute"></app-navigation>
  <br/>
  <h1>Creating A Private Network</h1>
  <p>
    Inorder to create a private network, we first need to understand genesis.json file. Go-Ethereum uses this configuration json file to create a private network.
  </p>
  <div>
    <h4><u><b>Genesis.json</b></u></h4>
    <p>
   <i><b><pre style="background-color: lightgray">{{ genesisJson | json }}</pre></b></i>
    </p>
  </div>
  <p>
    Go-Ethereum needs this genesis.json configuration file to create a very first block, which is called genesis block and hence the file is called genesis json. You can also call it as config.json or geth.json, the name of the file doesn't matter. Let's understand what does each filed mean.
  </p>
  <ul>
    <li><b>chainId: </b> The example file has set the chainId as 10, you can set to any value except 1, 2 and 3. One is for main network, 2  and 3 is for test network.</li>
    <li><b>homesteadBlock: </b> Ehtereum has seperated in to different releases. The last release is frontier and the latest release is homestead. Speficifying homesteadBlock to 0 implies that we want homestead ethereum starting from the block 0.</li>
    <li><b>eip155Block, eip158Block: </b> eip stands for <i><b>Ethereum Improvement Protocol</b></i>, there are some improvements to ethereum protocol and we want those improvements from the block 0.</li>
    <li><b>difficulty: </b> The difficulty is used for mining. If we set lower value for difficulty, mining will be easy.</li>
    <li><b>gasLimit: </b> Used for deploying contracts. Each contracht in solidity compiles in to an assembly by Ethereum Virtual Machine. Each of these assembly instructions takes up some gas and gas limit is the value which limits the logic that you can run on miner. The higher the gas limit value, the higher the complexity of the contract.</li>
    <li><b>alloc: </b> Used to pre allocate ether to certain accounts. We can do this step after creating the network too.</li>
  </ul>
  <p>
    Now that we have some idea on genesis json file, lets create a private network.
  </p>
  <ol>
    <li>Create a json file as mentioned abouve and save</li>
    <li>Go to the folder where the json file is and open powershell (for linux or mac, open a terminal)</li>
    <li>Initialize a chain data folder by running the command: <i><b>geth init .\genesis.json --datadir myprivatenetwork</b></i>. You should see "Succesfully wrote genesis state" log message. Here myprivatenetwork is our new private netwrok. It has geth and keystore folders inside.
        <p><img src="../assets/privatenetwork/initialise_private_network.jpg"></p>
    </li>
    <li>Start our private network myprivatenetwork by running the command: <i><b>geth --datadir .\myprivatenetwork\</b></i>. You should see the same chainId that is specified in genesis.json file, In this case it is 10.
        <p><img src="../assets/privatenetwork/starting_private_network.jpg"></p>
    </li>
    <li>Sometimes its possible that geth tries to synch with other networks which has the same chainId, So in order to avoid that, we can start the network in <b>no discosvery</b> mode by running the command: <i><b>geth --datadir .\myprivatenetwork\ --nodiscover</b></i>. In no disvocer mode, you won't see an UDP listener getting started where as it does in default/former mode.
        <p><img src="../assets/privatenetwork/starting_private_network_nodiscover.jpg"></p>
    </li>
  </ol>
  <br/>
  <app-navigation [previous]="previousRoute" [next]="nextRoute"></app-navigation>
  
</div>
