<mat-card>
  <br/>
  <app-navigation [next]="nextRoute"></app-navigation>
  <h1>Introduction</h1>
  <p>
    This tutorial is to provide detail knowledge about Ethereum blockchain and Solidity development. The entire tutorial is structured
    in to three main areas which are Ethereum and blockchain fundamentals, Building smart contracts using solidity and web
    applications interaction with blockchain and smart contracts using tools like web3.js.
  </p>
  <p>
    <img src="../assets/intro/tutorial_structre.jpg" class="center noresize">
  </p>
  <br />
  <h3> Why should you take this tutorial?</h3>
  <ol>
    <li>
      The blockchain technology is in very early adopt stage and it has a huge demand for blockchain developers already.
    </li>
    <li>
      If you want to build smart contracts or build a web appliation which require blockchain interaction, this tutorial provides
      all the fundamentals you need to know.
    </li>
  </ol>
  <br />
  <h3> Pre-Requisite knowledge </h3>
  <p> You need to have basic knowledge in any one of these: Web Development, JavaScript, Ajax-Requests. You DO NOT need to know
    cryptography.
  </p>
  <br />
  <app-navigation [next]="nextRoute"></app-navigation>
</mat-card>