<div class="content">
  <h1>Types Of Blockchain and Networks</h1>
  <p>
    The good thing with ethereum protocol is you can create your own blockchain using go-ethereum. Following are the three types of Blockchains.
  </p>
  <p>
    <b>Public Blockchain :</b> Everyone can participate equally in this Blockchain. There are two types of networks exists for a public blockchain, Main Net and Test Net. Main Net is the public Ethereum network, where everyone can participate, read data, mine and can send transactions through the network. Test Net is for testing, where everyone can partiicpate, mine, Read/write and send transactions. This is for the developers to play around with ethereum protocol and it costs nothig. The former one costs real money. Both these networks are publicly accessable.
  </p>
  <p>
    <b>Consortium Blockchain :</b> With geth you can create your own blockchain and can define rules. Lets say you create a blockchain and you define the limited number of users who can mine then that blockchain becomes a consortium blockchain. In consortium blockchain, everyone can participate in the network but can perform limited actions based on the rules configured.
  </p>
  <p>
    <b>Private Blockchain :</b> Its like a consortium blockchain but the only difference is that you are the only one who can participate in the blockchain.
  </p>
  <br />
  <p>
    Lets create a private blockchain in next section.
  </p>
</div>

