<div class="content">
  <br/>
  <app-navigation [previous]="previousRoute" [next]="nextRoute"></app-navigation>
  <br/>
  <h1>Ethereum EcoSystem</h1>
  <p>
  Before we start learning how to code in ethereum blockchain, let's take a look at the tools used. The following are the tools that are part of Ethereum EcoSystem. Each tool has a specific purpose.
</p>
<ul>
  <li>Geth (or) Go-Ethereum</li>
  <li>Parity</li>
  <li>Mist and MetaMask Plugin</li>
  <li>Solidity</li>
  <li>Remix</li>
  <li>Web3.js</li>
  <li>Truffle</li>
  <li>Webpack</li>
  <li>Angular ..etc</li>
</ul>
<br />
<p>
  <b>Geth/Parity/Cpp-Ethereum: </b> Geth, Parity and Cpp-Ethereum-they all are blockchain nodes which are running in client side. They all implement Ethereum protocol. Using these tools we can replicate all the nodes in blockchain locally.
</p>
<br />
<p>
  <b>Mist and MetaMask: </b> These are used to connect browsers to blockchain. Any application that uses blockchain functionalities need to connect to blockchain node. MetaMask is a google chrome plug in to connect to blockchain. Where as Mist is a full browser that has its own blockchain node implemented. Mist is integrated with Geth node. MetaMask uses Infura which intern has Geth/parity blockchain nodes running.
</p>
<br />
<p>
  <b>Solidity: </b> Solidity is a highlevel programming language which means it needs to be compiled in to byte code using EVM (Ethereum Virtual Machine). The initial versions of solidity looks lot like Javascripit.
</p>
<br />
<p>
  <b>Remix: </b> Remix is an IDE running on Cloud. You can access Remix from <a target="_blank" href="http://remix.ethereum.org">Remix.ethereum.org</a>. It compiles solidity directly in the browser. You can write programs and run them. It has integrated debugger too.
</p>
<br />
<p>
  <b>Web3.js: </b> Its a framework/library to interact with blockchain from browser. It interacts with blockchain node by sending commands via Javascript Http-rpc.
</p>
<br />
<p>
  <b>Truffle: </b> Its a framework to develop solidity applications. It has contract management, deployment and integrated testing frameworks. Truffle Boxes are pre-configured web-developement environments. If you are developig serious web applications that use blockchain features you might want a use truffle rather than plain Web3.js which will ease your developement.
</p>
<br />
<p>
  <b>Webpack: </b> It bundles Javascript and dependent files in to a package.
</p>
<br />
<p>
  <b>Angular: </b> Its a Single Page Application (SPA) framework. It has nothing to do with blockchain or solidity development. You can use angular for front end development and use web3.js for connecting to blockchain from front end.
</p>
<br/>
  <app-navigation [previous]="previousRoute" [next]="nextRoute"></app-navigation>
</div>

