<div class="tabbable tabs-left">
  <ul class="nav nav-tabs navbar-nav">
    <li *ngFor="let tab of ethereumTopicTabs; let i= index" routerLinkActive="active-tab" [routerLinkActiveOptions]="{exact:true}">
      <a routerLink="{{tab.path}}" data-toggle="tab" (click)="selectedTab(i)" 
      routerLinkActive="i==selectedTabIndex?'active-tab':''">{{tab.name}}</a>
        <!--(click)="selectedTab(i)" 
      [style.backgroundColor]="i==selectedTabIndex?'#3385ff':''"
      [style.color]="i==selectedTabIndex?'white':''">-->
    </li>
  </ul>
</div>
<div class="container">
  <div class="tab-content">
  <router-outlet></router-outlet>
</div>
</div>

