<div class="content">
  <h1>Introduction</h1>
  <p>
    This tutorial is to provide detail knowledge about Ethereum blockchain and Solidity development. After completting this tutorial you can work with Ehtereum block chain on practical level and can develop your own smart contracts.
  </p>
  <br/>
  <p>
    Following are some of the key areas that this tutorial concentrates.
  </p>
  <ul>
    <li>Understanding the BlockChain </li>
    <li>Understanding the core developement tools used</li>
    <li>Types Of Block Chain </li>
    <li>Ethereum and Solidity Developemt</li>
    <li>Developing A Hello World Application</li>
    <li>Awareness Of Decentralization</li>
    <li>Working with Web3.js</li>
    <li>Creating a Private Network</li>
    <li>Developement Functions of Ethereum</li>
    <li>Stages of contract deployment</li>
    <li>Creating a decentralized wallet </li>
  </ul>
  <br />
  <h3> Why should you learn Ethereum blockchain development?</h3>
  <ol>
    <li>
      We’re in the early adopter stage with ethereum technology, so you currently have the chance to get in at the ground level and become proficient in it before it reaches the next adoption stage.
    </li>
    <li>
      Being a part of a community is crucial when it comes to new technology, and the ethereum communities are some of the most friendliest, hence you’ll be able to communicate with them effectively having created projects of your very own in this course.
    </li>
    <li>
      There aren't many blockchain developers, yet there’s huge demand! If you decide to continue to advance your journey in this field, you can be assured there are companies seeking your skills.
    </li>
  </ol> 
  <br />
  <h3> Who should learn? </h3>
  <p> The tutorial is intended to those who have basic knowledge in any one of these: Web Development, JavaScript, Ajax-Requests, AngularJS, Gulp/Grunt and the Node Package Manager  </p>
  
</div>


