<div class="content">
  <!--<br/>
  <app-navigation [previous]="previousRoute" [next]="nextRoute"></app-navigation>
  <br/>-->
  <h1>What is Blockchain?</h1>

<p>
  Blockchain is a public ledger of all the  transactions ever occured all the way from the initial transaction. Hence the Blockchain is ever evolving technology. It constantly grows as new blocks are added. The transactions that are added on to the network are being processed by the computers connected to the nework. These computers are referred as Nodes. These nodes are scattered throught the world hence its a decentralized technology. Any new block added to the chain turns out in to chronological order. Anything that happens on the network happens as a whole. 
</p>
<br/>
<p>
  We can relate Blockchain with google docs. If you understand how google docs works you can easily relate and understand how blockchain works. The traditional way of sharing documents is to send bunch of documents to a reciepent and ask him to make revisions. The problem with that approach is you cannot work on those documents until the reciepent finishes his version and send it back to you. Its like database, it won't allow two users to update a record instead it locks the record and hence allow the users to work on it one at a time. This is how the Banks maintains the money balances and perform transfers from one account to another by briefly locking the access. With google docs, both parties will have access to the docuement at the same time. Both parties can view a single version of the docuement and can see each others changes. Its a shared document just like shared ledger.
</p>
<br/>
<p>
  The blockchain is designed for longevity and durability. Its not maintained by a single entity. All the nodes that are participated in a network are part of one community. Hence it has no single point of failure. 
</p>
  <br/>
  <app-navigation [previous]="previousRoute" [next]="nextRoute"></app-navigation>
</div>