<div class="content">
  <br/>
  <app-navigation [previous]="previousRoute" [next]="nextRoute"></app-navigation>
  <br/>
  <h1>Working with GETH</h1>
<br />
<p>
  <u><h4><b>Download and Install Geth: </b></h4></u>Download the geth from <a href="https://geth.ethereum.org/downloads" target="_blank">Download Geth</a> and install on to your machine.
</p>
<br />
<p>
  <u><h4><b>Running Geth: </b></h4></u> To run <i>geth</i> in windows, open powershell and type geth command. In linux or mac, run the geth command by opening a terminal. In this tutorial we will use windows OS.
</p>
<br />
<p><img src="../assets/geth/starting_geth.jpg"></p>
<br />
<p>
  When you run <i>geth</i> command for the first time, geth runs in fast sync mode (to understand sync modes, refer How it Works section) and downloads the blocks on to your local machine. In subsequent runs, geth will run in full sync mode. To stop a running geth, use <b><i>Ctrl+C</i></b> command. The path where the blocks gets stored in your computer varies based on OS.
</p>
 <ul>
    <li>Windows - ~home_directory\AppData\Roaming\Ethereum</li>
    <li>Linux - ~home_directory/.ethereum</li>
    <li>Mac Os - ~home_directory/Library/Ethereum</li>
  </ul>
  <br /> 
  <p>
  Ethereum folder has <b><i>geth</i></b> and <b><i>keystore</i></b> sub folders. geth folder contains all the block data where as keystore folder contains all your private keys (DO NOT delete this folder). If you want to run the geth in Fast scan mode, you need to delete <b><i>chaindata</i></b> folder which is under geth folder.
  </p>
<br />
<p>
  <u><h4><b>Understanding Geth Output: </b></h4></u> First thing to notice is <b> starting peer-to-peer node </b> log which indicates the geth version.  
</p>
<p><img src="../assets/geth/geth_instance_log.jpg"></p>
 <p>
  Here the geth version is 1.7.3. There is no machanism for geth to automatically update the version. We will have to manually check in geth website and udate if we find a new version.
</p>
<p>
  The next thing that you need to look at is the <b>initialised chain configuration</b> log. The chainID : 1 indicates that you are connected to Main network. The chain ids 1,2,3 are reserved for Main and test networks. Which means if you wanted to create a private network you can use any number except these.
</p>
<p><img src="../assets/geth/geth_chain_id_log.jpg"></p>
<p>
  The last important log is <b>IPC end point opened</b>. In windows, the IPC end point is a pipe <b><i>\\.\pipe\geth.ipc</i></b> for linux and mac its a file. Since we started the geth without any parameters, by default, it opens IPC not Http-rpc. In otherwords, if you have an application which uses web3.js to connect via http-rpc, it won't work.
</p>
<p><img src="../assets/geth/geth_ipc_end_point.jpg"></p>

<br />
<p>
  <u><h4><b>Javascript Json - API: </b></h4></u> We now know how to run the geth, lets connect to it so that we can interact with Javascript Json Api and hence we can interact with blockchain.
</p>
 <p>
   While geth is running, open another powershell (for Windows OS only) and run <b><i>geth attach</i></b> command. For linux or mac you need to specify the location of IPC file. So for linux or mac the command will be <b><i>geth attach 'IPC_file_Path'</i></b>
  </p> 
  <p><img src="../assets/geth/geth_attach.jpg"></p>
<p>
  Now that we are connected to geth, lets issue javascript commands to json api. For example, to create a new account issue personal,newAccount(); command. The json api will create an account which gets stored under ethereum home directory/keystore. The format of the generated key would be: UTC -- 'Time Stamp of key generation'--'key'
</p><p><img src="../assets/geth/create_new_account_command.jpg"></p>
<p> If you want learn more about API, visit <a href="https://github.com/ethereum/go-ethereum/wiki/Management-APIs" target="_blank">Ethereum Management API</a> and <a href="https://github.com/ethereum/wiki/wiki/JSON-RPC" target="_blank">Json-RPC Server</a>
</p>
<br/>
  <app-navigation [previous]="previousRoute" [next]="nextRoute"></app-navigation>
  

</div>

