/* You can add global styles to this file, and also import other style files */

.content{
    text-align: left;
    padding-left: 130px;
    padding-right: 40px;
    padding-bottom: 40px;
    font-family: sans-serif;
}
