/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

.parent {
  overflow: hidden;
}

mat-card img {
  width: 100%;
  height: auto;
}

img.center {
    display: block;
    margin: 0 auto;
}

.noresize {
    height: auto;
    max-width: 500px;
    min-width: 300px;
}

pre {
    /*white-space: pre-wrap;*/
    overflow: auto;
}

.fill-remaining-space {
  flex: 1 1 auto;
}

/*.content{
  padding-left: 25%;
  padding-right: 25%;
}*/